* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f1ead9;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navigation-side {
  display: flex;
  flex-direction: row;
}

p {
  margin-bottom: 5px !important;
  margin-top: 16px !important;
  color: black;
}

.nav-bar {
  background-color: #f1ead9;
  height: 100vh;
  width: 20vw !important;
  position: relative;
}

.hidden {
  display: none;
}

.items {
  text-align: center;
  padding: 10px 20px 10px 20px;
  color: #596996;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.items:hover {
  background-color: #f3d2c1;
}

.upgrade-button {
  background-color: transparent;
  border-color: #f582ae;
  border-width: 2px;
  color: #f582ae;
  width: 80%;
}

.find-trainer {
  background-color: transparent;
  border-color: #f582ae;
  border-width: 2px;
  color: #f582ae;
  width: 100%;
  margin-bottom: 20px;
}

.button-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 30px 0;
}

.calculate-macros-button {
  background-color: #f582ae;
  font-weight: 700;
  font-size: 20px;
  width: 50%;
  height: 70px;
}

.calculate-macros-button:hover {
  color: white !important;
}

.calculate-bmi-button {
  background-color: #f582ae;
  font-weight: 700;
  font-size: 20px;
  height: 70px;
}

.calculate-bmi-button:hover {
  color: white !important;
}

.icon {
  padding: 5px 0 0 0;
}

.main-title {
  background-color: #fef6e4;
  font-size: 20px;
  font-weight: 600;
  color: #596996;
}

.icon-title {
  padding: 0 20px 0 0;
}

.ant-radio-button-wrapper-checked {
  background-color: #8bd3dd !important;
  color: #24487a !important;
  border-color: none;
}

.ant-radio-button-wrapper {
  color: #07225f !important;
  font-size: 17px;
  font-weight: 600;
}

:where(
    .css-dev-only-do-not-override-mxhywb
  ).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #1677ff;
  background: #ffffff;
  border-color: transparent !important;
  height: 50px;
  width: 100px;
  text-align: center;
}

:where(
    .css-dev-only-do-not-override-mxhywb
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  )::before {
  height: 50px;
  background-color: transparent !important;
}

:where(
    .css-dev-only-do-not-override-mxhywb
  ).ant-radio-button-wrapper:last-child {
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  width: 100px;
  text-align: center;
  height: 50px;
}

:where(
    .css-dev-only-do-not-override-mxhywb
  ).ant-radio-button-wrapper:first-child {
  border-inline-start: 1px solid #d9d9d9;
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
  width: 100px;
  text-align: center;
  height: 35px;
}
:where(.css-dev-only-do-not-override-mxhywb)[class^="ant-radio"]
  [class^="ant-radio"],
:where(.css-dev-only-do-not-override-mxhywb)[class*=" ant-radio"]
  [class^="ant-radio"],
:where(.css-dev-only-do-not-override-mxhywb)[class^="ant-radio"]
  [class*=" ant-radio"],
:where(.css-dev-only-do-not-override-mxhywb)[class*=" ant-radio"]
  [class*=" ant-radio"] {
  box-sizing: border-box;
  height: 35px;
}

.g2-html-annotation {
  display: none !important;
}

.daily-macro {
  text-align: left !important;
  display: flex !important;
  justify-content: flex-start !important;
}

.trainer-card {
  display: flex;
  flex-direction: row;
}
.card {
  width: 240px;
  margin: 15px;
}

.ant-modal-content {
  width: 700px;
}

.header {
  font-weight: bold;
  background-color: #f2f2f2;
}

.cell span {
  font-size: 80%;
  color: #888;
  margin-left: 8px;
}
